@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;700&display=swap');

.container, .container2 {
  padding: 0 25px;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  gap: 32px;
  justify-content: center;
}

.container {
  margin: 64px 0;
}

.question {
  width: 400px;
  height: 200px;
  border: 2px solid #003366;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito';
  font-weight: 700;
  color: #003366;
}

#question-1-text, #question-2-text {
  font-size: 24px;
}
#percentage-1, #percentage-2 {
  font-size: 32px;
}

.selected {
  background-color: #004c99;
  color: white;
}

.show-element {
  display: block;
}

.hide-element {
  display: none;
}

#nextQuestion {
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'Nunito';
  font-size: 15px;
  font-weight: 700;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
}

